%h1.xs-text-center.xs-p3 'Welcome!'
.clearfix
  .col.xs-col-10.xs-offset-1.xs-p2
    %h4.xs-text-center
      Tests:
    .col.xs-col-10.xs-offset-1.xs-p2.xs-text-center
      = render partial: "admin/shared/links"

      