%h1.xs-text-center.xs-p3.bold= 'LOG'
.clearfix
  .col.xs-col-10.xs-offset-1.xs-p2 
    - @logs.each do |log|
      .xs-text-3.bold.xs-pt3.xs-pb1= log.log_date
      = log.log_info.html_safe
      %br
