#public_welcome-index {
	//background: rgba(242,242,242,0.4);
	.front-page {color: #fff;}
	background: 
		linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
		image-url('bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}